//*********************
//Footer bottom region
//*********************

@media (min-width: $screen-sm) {                                                              //<---------------768px +
  .region-footer-bottom {
    display: block;
    margin: 70px auto 30px auto;
    #block-footerrightsreserved {
      .field__item {
        position: relative;
        hr {
          max-width: 1200px;
          border-top: 1px solid rgb(221, 231, 233);
        }
        p {
          text-align: center;
          text-transform: uppercase;
          font-size: small;
          color: rgb(85, 89, 95);
          margin-bottom: 30px;
        }
      }
    }
  }

  .triangle-xl-orange {
    position: absolute;
    left: 0;
    bottom: 59px;
    width: 20%;
  }
  .triangle-xl-blue {
    position: absolute;
    right: 0;
    bottom: -32px;
    width: 23%;
  }
}

@media (max-width:$screen-sm) {         //    both mobile and tablet                          <---------------768px max
  .region-footer-bottom {
    display: block;
    margin: 30px auto 30px auto;
    #block-footerrightsreserved {
      .field__item {
        hr {
          border-top: 1px solid rgb(221, 231, 233);
        }
        p {
          text-align: center;
          text-transform: uppercase;
          font-size: small;
          color: rgb(85, 89, 95);
        }
      }
    }
  }
  .path-frontpage,
  .path-companies,
  .path-events,
  .path-locations,
  .page-node-type-company-ct,
  .page-node-type-event,
  .page-node-type-location {
    .triangle-xl-orange, .triangle-xl-blue {
      display: none;
    }
  }
}