/*
.region-footer-menu {
  display: flex;
  width: 1200px;
  margin: 30px auto 30px auto;
  a {
    color: rgb(122, 132, 134);
    text-decoration: none;
    text-transform: uppercase;
    &:hover {
      color: rgb(221, 231, 233);
    }
    &:active {
      color: rgb(0, 0, 0);
    }
  }
  p {
    text-transform: uppercase;
    color: rgb(122, 132, 134);
  }
  strong {
    color: rgb(0, 0, 0);
  }
  #block-footermenlogo {
    width: 10%;
  }
  #block-footermenu {
    width: 30%;
    padding-left: 60px;
  }
  #block-footercontact {
    width: 30%;
    padding-left: 60px;
  }
  #block-newsleter {
    width: 30%;
    padding-left: 60px;
  }
}
*/

@media (max-width:$screen-xs), (max-width:$screen-sm) {
  .region-footer-menu {
    display: block;
    margin: 0 15px;
    td{
      padding: 20px 0;
      a {
        margin: 15px 0;
        color: rgb(122, 132, 134);
        text-decoration: none;
        text-transform: uppercase;
      }
    }
    p {
      text-transform: uppercase;
      color: rgb(122, 132, 134);
    }
    strong {
      color: rgb(0, 0, 0);
    }
    #block-footermenlogo {
      display: block;
    }
    #block-footermenu {
      margin-top: 20px;
      background: rgba(41, 193, 225, 0.11);
      padding:5px;
      display: block;
      table {
        width: 100%;
        margin-left: 30px;
      }

    }
    #block-footercontact {
      margin-top: 20px;
      background: rgba(41, 193, 225, 0.11);
      display: block;
      padding:5px;
      p {
        margin-left: 30px;
        padding:10px 0;
      }

    }
    #block-newsleter {
      margin-top: 20px;
      background: rgba(41, 193, 225, 0.11);
      display: block;
      padding:5px;
      p {
        margin-left: 30px;
        padding:10px 0;
      }
    }
  }
}