// ========================================
//
// @file _header.scss
// Header element on the page
//
// ========================================

@media (min-width: $screen-sm) {                                                              //<---------------768px +
  header {
    .fluid {
      display: block;
      width: 100%;
      background: rgb(221, 231, 233);
      .region-header {
        display: flex;
        max-width: 1200px;
        margin: auto;
        #block-onboardingproject {
          width: 50%;
          color: rgb(85, 89, 95);
          .field--name-body {
            display: flex;
            justify-content: flex-start;
            p {
              font-family: 'Montserrat', sans-serif;
              margin: 12px 0;
              font-size: small;
            }
          }
        }

        #block-headerphonenumber {
          width: 24%;
          color: rgb(85, 89, 95);
          .field--name-body {
            display: flex;
            justify-content: flex-end;
            img {
              width: 25px;
              height: 25px;
            }
            p {
              margin: 10px 0;
              display: flex;
              align-items: center;
              font-size: small;
            }
          }
        }
        #block-headeremailaddress {
          width: 24%;
          color: rgb(85, 89, 95);
          .field--name-body {
            display: flex;
            justify-content: flex-end;
            img {
              width: 25px;
              height: 25px;
            }
            p {
              margin: 10px 0;
              display: flex;
              align-items: center;
              font-size: small;
            }
          }
        }
      }
    }
  }
}

@media (max-width:$screen-xs) {                                                             //<---------------420px max
  header {
    .fluid {
      display: block;
      width: 100%;
      background: rgb(221, 231, 233);
      .region-header{
        margin: auto;
        width: 100%;
        display: block;
        #block-onboardingproject {
          margin: auto;
          width: 100%;
          display: block;
          color: rgb(85, 89, 95);
          .field--name-body {
            display: block;
            p {
              font-family: 'Montserrat', sans-serif;
              font-size: small;
              margin: 0 auto;
              text-align: center;
            }
          }
        }

        #block-headerphonenumber {
          .align-left{
            float: none;
          }
          color: rgb(85, 89, 95);
          .field--name-body {
            display: block;
            img {
              display: inline-block;
              vertical-align: middle;
              width: 25px;
              height: 25px;
              .align-left {
                float: none;
              }
            }
            p {
              text-align: center;
              margin: 10px 0;
              font-size: small;
            }
          }
        }
        #block-headeremailaddress {
          .align-left{
            float: none;
          }
          color: rgb(85, 89, 95);
          .field--name-body {
            display: block;
            justify-content: flex-end;
            img {
              display: inline-block;
              vertical-align: middle;
              width: 25px;
              height: 25px;
            }
            p {
              text-align: center;
              margin: 10px 0;
              font-size: small;
            }
          }
        }
      }
    }
  }
}


@media (min-width: $screen-xs) and (max-width: $screen-sm)  {                          //<--------------- 420px - 768px
  header {
    .fluid {
      display: block;
      width: 100%;
      background: rgb(221, 231, 233);
      .region-header{
        margin: auto;
        width: 100%;
        display: block;
        #block-onboardingproject {
          margin: auto;
          width: 100%;
          display: block;
          color: rgb(85, 89, 95);
          .field--name-body {
            display: block;
            p {
              font-family: 'Montserrat', sans-serif;
              font-size: small;
              margin: 0 auto;
              text-align: center;
            }
          }
        }

        #block-headerphonenumber {
          width: 49%;
          display: inline-block;
          .align-left{
            float: none;
          }
          color: rgb(85, 89, 95);
          .field--name-body {
            display: block;
            img {
              display: inline-block;
              vertical-align: middle;
              width: 25px;
              height: 25px;
              .align-left {
                float: none;
              }
            }
            p {
              text-align: center;
              margin: 10px 0;
              font-size: small;
            }
          }
        }
        #block-headeremailaddress {
          width: 49%;
          display: inline-block;
          .align-left{
            float: none;
          }
          color: rgb(85, 89, 95);
          .field--name-body {
            display: block;
            justify-content: flex-end;
            img {
              display: inline-block;
              vertical-align: middle;
              width: 25px;
              height: 25px;
            }
            p {
              text-align: center;
              margin: 10px 0;
              font-size: small;
            }
          }
        }
      }
    }
  }
}
