// ========================================
//
// @file _header.scss
// Header element on the page
//
// ========================================


header {
  .fluid {
    display: block;
    width: 100%;
    background: rgb(221, 231, 233);
    .region-header{
      display: flex;
      width: 1200px;
      margin: auto;
      #block-onboardingproject {
        width:50%;
        color: rgb(85, 89, 95);
        .field--name-body {
          display: flex;
          justify-content: flex-start;
          p {
            font-family: 'Montserrat', sans-serif;
            margin: 12px 0;
            font-size: small;
          }
        }
      }

      #block-headerphonenumber {
        width:24%;
        color: rgb(85, 89, 95);
        .field--name-body {
          display: flex;
          justify-content: flex-end;
          img {
            width: 25px;
            height: 25px;
          }
          p {
            margin: 10px 0;
            display: flex;
            align-items: center;
            font-size: small;
          }
        }
      }
      #block-headeremailaddress {
        width:24%;
        color: rgb(85, 89, 95);
        .field--name-body {
          display: flex;
          justify-content: flex-end;
          img {
            width: 25px;
            height: 25px;
          }
          p {
            margin: 10px 0;
            display: flex;
            align-items: center;
            font-size: small;
          }
        }
      }
    }
  }
}
