//*******************************
//Company pages content styling
//*******************************

.node--type-company-ct {
  .field--name-field__company-title {
    font-size: 30px;
    border-bottom: 1px solid rgb(221, 231, 233);
    padding-bottom: 40px;
    margin: 0 0 30px 0;
  }
  .field--name-field__company-logo {
    float: left;
    margin: 0 30px 20px 0;
  }
  .field--name-field__company-description {
    p {
      text-align: justify;
    }
  }
  .field--name-field-indu {
    position: relative;
    max-width: 400px;
    min-height: 87px;
    border: 3px solid rgb(221, 231, 233);
    &:hover {
      border: 3px solid rgb(247, 147, 29);
      transition-duration: 0.5s;
      transition-timing-function: ease;
      transition-property: all;
    }
    a{
      position: absolute;
      top: 35%;
      left: 25%;
      padding: 4px 0 4px 10px;
      border-left: 4px solid rgb(41, 193, 225);
      text-decoration: none;
      color: rgb(0, 0, 0);
      &:hover {
        color: rgb(247, 147, 29);
      }
      &::before {
        content: url("/themes/custom/agiledrop_kick/assets/images/icons/data-icon.png");
        position: absolute;
        bottom: -50%;
        left: -50%;
      }
    }
  }
  .field--name-field__company-website {

  }
  .field--name-field__company-phone-number {

  }
  .field--name-field__company-email {

  }
  .field--name-field__company-address {
    iframe { }
    p { }
  }
}


//Overide

.page-node-type-company-ct {
  img.blue-triangle, img.orange-triangle {
    display: none;
  }
}

//TODO   <--------------  delete this