
//**********************************
//Companies page content styling
//**********************************
@media (min-width: $screen-sm) {                                                              //<---------------768px +
  .view-companies {
    .view-content {
      .views-row {
        padding: 50px 0;
        border-bottom: 2px solid rgb(221, 231, 233);
        img {
          float: left;
          clear: both;
          margin-right: 50px;
          margin-bottom: 60px;
          padding-top: 5px;
        }
        .views-field-field__company-title {
          display: inline-block;
          border-left: 4px solid rgb(41, 193, 225);
          h3 {
            padding-left: 10px;
            margin: 0;
          }
        }
        .views-field-field__company-description {
        }
        .views-field-view-node {
          a {
            color: rgb(255, 255, 255);
            text-decoration: none;
            &:hover {
              background-color: rgb(247, 147, 29);
              border: 1px solid rgb(247, 147, 29);
            }

            background-color: rgb(41, 193, 225);
            border: 1px solid rgb(41, 193, 225);
            font-size: small;
            display: inline-block;
            text-align: center;
            text-transform: uppercase;
            cursor: pointer;
            margin-top: 20px;
            padding: 0.4em 1.2em;
            border-radius: 1.5em;
            line-height: normal;
          }
        }
      }
    }
  }
}
@media (max-width:$screen-xs) {                                                             //<---------------420px max
  .view-companies {
    .view-content {
      .views-row {
        display: block;
        width: 100%;
        margin: 20px 0;
        padding: 30px 15px;
        border-bottom: 2px solid rgb(221, 231, 233);
        img {
          float: left;
          clear: both;
          max-width: 19%;
          width: 100%;
          margin: 0 15px 10px 0;
        }
        .views-field-field__company-title {
          display: inline-block;
          border-left: 4px solid rgb(41, 193, 225);
          h3 {
            padding-left: 10px;
            margin: 0;
          }
        }
        .views-field-field__company-description{
          display: block;
          width: 100%;
        }
        .views-field-view-node {
          text-align: center;
          a{
            color: rgb(255, 255, 255);
            text-decoration: none;
            &:hover {
              background-color: rgb(247, 147, 29);
              border: 1px solid rgb(247, 147, 29);
            }

            background-color: rgb(41, 193, 225);
            border: 1px solid rgb(41, 193, 225);
            font-size: small;
            display: inline-block;
            text-align: center;
            text-transform: uppercase;
            cursor: pointer;
            margin-top: 20px;
            padding: 0.4em 1.2em;
            border-radius: 1.5em;
            line-height: normal;
          }
        }
      }
    }
  }
}

@media (min-width: $screen-xs) and (max-width: $screen-sm)  {                         //<--------------- 420px - 768px
  .view-companies {
    .view-content {
      .views-row {
        display: block;
        width: 100%;
        margin: 20px 0;
        padding: 30px 15px;
        border-bottom: 2px solid rgb(221, 231, 233);
        img {
          float: left;
          clear: both;
          max-width: 19%;
          width: 100%;
          margin: 0 15px 10px 0;
        }
        .views-field-field__company-title {
          display: inline-block;
          border-left: 4px solid rgb(41, 193, 225);
          h3 {
            padding-left: 10px;
            margin: 0;
          }
        }
        .views-field-field__company-description{
          display: flex;
        }
        .views-field-view-node {
          text-align: center;
          a{
            color: rgb(255, 255, 255);
            text-decoration: none;
            &:hover {
              background-color: rgb(247, 147, 29);
              border: 1px solid rgb(247, 147, 29);
            }

            background-color: rgb(41, 193, 225);
            border: 1px solid rgb(41, 193, 225);
            font-size: small;
            display: inline-block;
            text-align: center;
            text-transform: uppercase;
            cursor: pointer;
            margin-top: 20px;
            padding: 1em 15%;
            border-radius: 1em;
            line-height: normal;
          }
        }
      }
    }
  }
}
