
//*******************************
//Event pages | content styling
//*******************************
/*
.node--type-event {
  .field--name-field__event-image,
  .field--name-field__event-title,
  .field--name-field__event-type {
    display: flex;
    width: 100%;
    justify-content: center;
  }
  .field--name-field__event-image{
    margin-top: 60px;
    img{
      border-radius: 50%
    }
  }
  .field--name-field__event-title {
    margin-top: 30px;
    font-size: xx-large;
    color: #000;
  }
  .field--name-field__event-type {
    margin-top: 15px;
    a {
      text-decoration: none;
      border-left: 4px solid rgb(41, 193, 225);
      padding-left: 15px;
      vertical-align: sub;
      color: rgb(0, 0, 0);
      &:hover {
        color: rgb(110, 110, 110);
      }
      &:active {
        color: rgb(0, 0, 0);
      }
    }
  }
  .field--name-field__event-start-date {
    display: flex;
    width: 50%;
    justify-content: center;
    float: left;
    margin-top: 20px;
    color: #000;
    .field__label {
      font-weight: normal;
      border-left: 4px solid rgb(41, 193, 225);
      padding: 0 0 5px 15px;
    }
  }
  .field--name-field__event-end-date {
    display: flex;
    width: 50%;
    justify-content: center;
    float: right;
    margin-top: 20px;
    color: #000;
    .field__label {
      font-weight: normal;
      border-left: 4px solid rgb(41, 193, 225);
      padding: 0 0 5px 15px;
    }
  }
  .field--name-field__event-description {
    margin-top: 50px;
    margin-left: 30px;
  }
}

//***************************************************
//Event sidebar first | about organizer & location
//***************************************************
.region-sidebar-first {
  margin-top: 40px;
  .block-views-blockabout-organizer-block-1,
  .block-views-blockabout-location-block-1 {
    h2 {
      text-transform: uppercase;
      margin: 20px 0;
      font-size: x-large;
    }
    div .views-row {
      padding: 20px;
      border: 2px solid rgb(221, 231, 233);
      .views-field-field__company-logo,
      .views-field-field__location-image {
        display: inline-block;
      }
      .views-field-title {
        display: inline-block;
        vertical-align: top;
        padding-left: 15px;
        border-left: 3px solid rgb(41, 193, 225);
        margin: 12px;
        h4{
          margin: 0;
        }
      }
      .views-field-view-node {
        text-transform: uppercase;
        text-align: right;
        h4 {
          margin:20px 0 0 0;
          a {
            text-decoration: none;
            font-size: medium;
            color: rgb(41, 193, 225);
            &:hover {
              color: rgb(247, 147, 29);
            }
          }
        }
      }
    }
  }
}



//Override-disable triangles in the services section

.page-node-type-event {
  img.blue-triangle, img.orange-triangle {
    display: none;
  }
}
*/

//******************************************
//Event pages | content styling | SCREEN-XS
//******************************************
@media (max-width:$screen-xs) {
  .layout-sidebar-first {
    width: 100%;
    display: block;
    float: none;
    padding: 15px;
  }
  .node--type-event {
    padding: 15px;
    .field--name-field__event-image,
    .field--name-field__event-title,
    .field--name-field__event-type {
      display: flex;
      width: 100%;
      justify-content: center;
    }
    .field--name-field__event-image {
      margin-top: 60px;
      img {
        border-radius: 50%
      }
    }
    .field--name-field__event-title {
      margin-top: 30px;
      font-size: xx-large;
      color: #000;
    }
    .field--name-field__event-type {
      margin-top: 15px;
      a {
        text-decoration: none;
        border-left: 4px solid rgb(41, 193, 225);
        padding-left: 15px;
        vertical-align: sub;
        color: rgb(0, 0, 0);
        &:hover {
          color: rgb(110, 110, 110);
        }
        &:active {
          color: rgb(0, 0, 0);
        }
      }
    }
    .field--name-field__event-start-date {
      display: flex;
      width: 50%;
      justify-content: center;
      float: left;
      margin-top: 20px;
      color: #000;
      .field__label {
        font-weight: normal;
        border-left: 4px solid rgb(41, 193, 225);
        padding: 0 0 5px 15px;
      }
    }
    .field--name-field__event-end-date {
      display: flex;
      width: 50%;
      justify-content: center;
      float: right;
      margin-top: 20px;
      color: #000;
      .field__label {
        font-weight: normal;
        border-left: 4px solid rgb(41, 193, 225);
        padding: 0 0 5px 15px;
      }
    }
    .field--name-field__event-description {
      margin-top: 50px;
      margin-left: 30px;
    }
  }

  //***************************************************
  //Event sidebar first | about organizer & location
  //***************************************************
  .region-sidebar-first {
    margin-top: 40px;
    .block-views-blockabout-organizer-block-1,
    .block-views-blockabout-location-block-1 {
      h2 {
        text-transform: uppercase;
        margin: 20px 0;
        font-size: x-large;
      }
      div .views-row {
        padding: 20px;
        border: 2px solid rgb(221, 231, 233);
        .views-field-field__company-logo,
        .views-field-field__location-image {
          display: inline-block;
        }
        .views-field-title {
          display: inline-block;
          vertical-align: top;
          padding-left: 15px;
          border-left: 3px solid rgb(41, 193, 225);
          margin: 12px;
          h4 {
            margin: 0;
          }
        }
        .views-field-view-node {
          text-transform: uppercase;
          text-align: right;
          h4 {
            margin: 20px 0 0 0;
            a {
              text-decoration: none;
              font-size: medium;
              color: rgb(41, 193, 225);
              &:hover {
                color: rgb(247, 147, 29);
              }
            }
          }
        }
      }
    }
  }
}


//Override-disable triangles in the services section

.page-node-type-event {
  img.blue-triangle, img.orange-triangle {
    display: none;
  }
}
