
//**********************************
//Events page content styling
//**********************************
/*
.view-events {
  .view-content {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    .views-row {
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      max-width: 360px;
      background-color: rgb(221, 231, 233);
      margin: 0 auto 0 auto;
      .views-field-field__event-start-date {
        width: 100%;
        .event-time {
          display: flex;
          justify-content: center;
          font-size: 45px;
          margin-top: 30px;
          color: #000;
        }
      }
      .views-field-field__event-start-date-1 {
        width: 100%;
        .events-date {
          display: flex;
          justify-content: center;
          text-transform: uppercase;
          color: #000;
        }
      }
      .views-field-title {
        width: 100%;
        h3 {
          font-size: larger;
          display: flex;
          justify-content: center;
          margin: 35px 0 19px 0;
        }
      }
      .views-field-field__event-description {
        width: 100%;
        p {
          margin: 10px 0;
          padding: 0 20px;
          text-align: center;
        }
      }
      .views-field-field__event-image{
        width: 100%;
      img {
        margin: auto;
      }
      }
      .views-field-view-node {
        width: 100%;
        display: block;
        text-align: center;
        margin: 30px 0;
        .field-content {
          &:hover {
            background-color: rgb(38, 142, 172);
            border: 1px solid rgb(38, 142, 172);
          }
          background-color: rgb(41, 193, 225);
          border: 1px solid rgb(41, 193, 225);
          display: inline-block;
          text-align: center;
          text-transform: uppercase;
          font-size: 14px;
          cursor: pointer;
          margin: -10px 10px 0 10px;
          padding: 0.50em 1.50em;
          border-radius: 1.2em;
          line-height: normal;
          a {
            color: rgb(255, 255, 255);
            text-decoration: none;
          }
        }
      }
    }
  }
}

//***************************
//#Fliped images in blocks
//***************************

.view-events {
  .views-row:nth-child(2) {
    .views-field-field__event-image {
      order: 1;
    }
  }
  .views-row:nth-child(5) {
    .views-field-field__event-image {
      order: 1;
    }
  }
}
*/

@media (max-width:$screen-xs) {
  .view-events {
    .view-content {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
      .views-row {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        max-width: 360px;
        background-color: rgb(221, 231, 233);
        margin: 30px auto;
        .views-field-field__event-start-date {
          width: 100%;
          .event-time {
            display: flex;
            justify-content: center;
            font-size: 45px;
            margin-top: 30px;
            color: #000;
          }
        }
        .views-field-field__event-start-date-1 {
          width: 100%;
          .events-date {
            display: flex;
            justify-content: center;
            text-transform: uppercase;
            color: #000;
          }
        }
        .views-field-title {
          width: 100%;
          h3 {
            font-size: larger;
            display: flex;
            justify-content: center;
            margin: 35px 0 19px 0;
          }
        }
        .views-field-field__event-description {
          width: 100%;
          p {
            margin: 10px 0;
            padding: 0 20px;
            text-align: center;
          }
        }
        .views-field-field__event-image{
          width: 100%;
          img {
            margin: auto;
          }
        }
        .views-field-view-node {
          width: 100%;
          display: block;
          text-align: center;
          margin: 30px 0;
          .field-content {
            &:hover {
              background-color: rgb(38, 142, 172);
              border: 1px solid rgb(38, 142, 172);
            }
            background-color: rgb(41, 193, 225);
            border: 1px solid rgb(41, 193, 225);
            display: block;
            text-align: center;
            text-transform: uppercase;
            font-size: 14px;
            cursor: pointer;
            margin: -10px 10px 0 10px;
            padding: 1em 1.50em;
            line-height: normal;
            a {
              color: rgb(255, 255, 255);
              text-decoration: none;
            }
          }
        }
      }
    }
  }

  //***************************
  //#Fliped images in blocks
  //***************************

  .view-events {
    .views-row:nth-child(2) {
      .views-field-field__event-image {
        order: 1;
      }
    }
    .views-row:nth-child(5) {
      .views-field-field__event-image {
        order: 1;
      }
    }
  }
}